#menu, #slide, #imgservice, #partenaireslide {
	display: flex;
}
#slide, #partenaireslide {
	overflow-x: auto;
}

#menu {
	width: 100%;
	height: 75px;
}

#menu ul li {
	display: inline-block;
	padding: 5px;

}

.item {
	margin-left: 300px;
	margin-top: 25px;
}

#logo {
	position: absolute;
	top: 5px;
}

.blocgris {
	display: block;
	background-color: #EAEAEA;
}

.titreblanc {
	color: #FFFFFF;
}

#qsm h1 {
	color: #C00012;
	font-size: 90px;
	font-family: 'Staatliches';
	margin-left: 700px;
}

#qsm {
	width: 100vw;
	height: 105vh;
}

#qsm img {
	float: left;
	margin-left: 140px; 
	width: 406.5px;
	height: 550px;
}

#blocqsm {
	width: 801px;
	height: 350px;
	margin-left: 500px;
	margin-top: 200px;
	padding-top: 30px;
}

#blocqsm hr {
	margin-top: 30px;
}

#blocqsm p {
	font-family: 'Roboto', sans-serif;
	width: 700px;
	margin-left: 85px;
	font-size: 20px;
}

.bouton {
	width: 218px;
	height: 56px;
	background-color: #C00012;
}

#bouton1 {
	float: right; 
	margin-right: 120px;

}

.textebouton {
	color: #FFFFFF;
	font-family: 'Staatliches';
	letter-spacing: 5px;
	padding-top: 20px;
	text-align: center;
}

#services, #partenaires {
	display: block;
	background-color: #2A2929;
	width: 100vw;
	height: 390px;
}

#services h1 {
	font-size: 53px;
	font-family: 'Staatliches';
	letter-spacing: 5px;
	margin-left: 565px;
}

.imgservice {
	border-radius: 50%;
	width: 250px;
	margin-left: 170px;
	position: relative;
}

#histoire h1 {
	color: #C00012;
	font-size: 90px;
	font-family: 'Staatliches';
	margin-left: 100px;
}

#histoire {
	width: 100vw;
	height: 100vh;
}

#histoire img {
	width: 584px;
	float: right;
	margin-right: 98px;
}

#blochistoire {
	width: 1060px;
	height: 350px;
	margin-top: 200px;
	margin-left: 110px;
}

#blochistoire p, h1 {
	font-family: 'Roboto', sans-serif;
	margin-left: 65px;
	font-size: 20px;
}
#blochistoire h1 {

	color: #C00012;
	margin-left: 45px;
	font-size: 40px;
}

#blochistoire p {
	margin-left: 45px;
	width: 950px;

}

#bouton2 {
	float: right;
	margin-right: 120px;
}

#partenaires h1 {
	font-size: 53px;
	font-family: 'Staatliches';
	letter-spacing: 5px;
	margin-left: 525px;
}

.imgpartenaires {
	width: 200px;
	border-radius: 50%;
	padding: 20px;
}

footer {
	display: block;
	background-color: #3C3B3B;

	position: relative;
	height: 200px;
	padding-top: 20px;

	color: #FFFFFF;
	font-size: 25px;
}

footer hr {
	width: 0.5px;
	height: 125px;
	color: #FFFFFF;
	position: absolute;
	margin-left: 515px;
	margin-top: 25px;
}

footer h2 {
	font-family: 'Staatliches';

}

footer p {
	font-family: 'Roboto'

}

#gauche {
	position: absolute;
	margin-left: 45px;
}

#droite {
	position: absolute;
	margin-left: 600px;
}

.picto {
	padding: 10px;
}

#logobas {
	width: 220px;
	height: 65px;
	position: absolute;
	margin-top: 70px;
	margin-left: 75%;
}